<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655320318991-2h1jbsd520cbne8ronlqbbr5m96aoahr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655320318991-2h1jbsd520cbne8ronlqbbr5m96aoahr</string>
	<key>API_KEY</key>
	<string>AIzaSyA9_clnqqAk_-4JWq686eOMu30PB8eVWug</string>
	<key>GCM_SENDER_ID</key>
	<string>655320318991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseProj</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-bdaff</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-bdaff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655320318991:ios:83e9ede12be7bd8fd10f7a</string>
</dict>
</plist>